@import "../core/mixins";
@import "../core/variables";

.photosSection {
  display: grid;
  @include center-items;

  @include desktop {
    // width: 1211px;
    margin-bottom: 55px;
    // padding: 0 127px;
  }

  &__photosListContainer {
    display: grid;
    @include center-items;
    grid-template-columns: 1fr;
    gap: 55.02px 0px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 10px;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 31px 16px;
    }
  }
}
