@import "../core/mixins";
@import "../core/variables";

.main {
  display: grid;
  // @include center-items;
  background-color: rgb(26, 25, 25);
}
.photosSection {
  display: grid;
  // @include center-items;

  @include desktop {
    width: 1211px;
    margin: 40px 0 55px 0;
    // padding: 0 127px;
  }

  &__photosListContainer {
    display: grid;
    @include center-items;
    grid-template-columns: 1fr;
    gap: 55.02px 0px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 31px 16px;
    }
  }
}
