@import "../core/variables";
@import "../core/mixins";

.randomImagesSection {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;

  @include desktopMax {
    width: 1211px;
    padding: 0 127px;
  }
  &__title {
    font: normal 400 32px/37.5px $mainFont;
    text-transform: capitalize;
    margin: auto;
    @include desktop {
      font-size: 56px;
      line-height: 65.63px;
      margin: 0;
    }
  }
}
