@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";

.App{
    height: 100vh;
}

.main {
    display: grid;
    // @include center-items;
    background-color: $lightBrown;
    background-attachment: fixed;
  }