@import "../../core/variables";
@import "../../core/mixins";

.loadMoreBtn {
  margin: auto;
  width: 366px;
  height: 48px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #111111;
  background-color: transparent;
  margin: 24px auto 64px auto;
  transition: all 0.6s ease;
  &:hover{
    background-color: $black;
    color: $lightBrown;
    cursor: pointer;
  }
  @include desktop {
    width: 300px;
    height: 56px;
  }
}
