@import "../../core/variables";
@import "../../core/mixins";

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0px 0px 24px 24px;
  background-color: $heroSectionColor;
  padding: 106px 0 16px 0;
  margin-bottom: 36px;

  @include desktop {
    flex-direction: row;
     padding: 233px 128px 57.71px 128px;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  &__hero {
    display: flex;
    flex-direction: column;
    @include center-items;
    @include desktop {
      align-items: flex-start;
    }

    &--title {
      font: normal 400 32px/37.5px $mainFont;
      color: $heroTitleColor;
      margin-bottom: 16px;
      @include desktop {
        font-size: 64px;
        line-height: 75px;
      }
    }

    &--description {
      width: 350px;
      height: 57px;
      font: normal 400 16px/18.75px $mainFont;
      text-align: center;
      color: $heroFontColor;
      @include desktop {
        font-size: 18px;
        line-height: 18.75px;
        text-align: left;
      }
    }
    &--startBtn {
      width: 200px;
      height: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $heroFontStartBtnColor;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid $heroStartBtnColor;
      margin: 32px 0 48px;
      cursor: pointer;
      transition: all 0.6s ease;

      &:hover {
        background-color: $heroStartBtnColor;
        color: $black;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 3px;
      }
      @include desktop {
        width: 300px;
        height: 56px;
      }
    }
  }

  &__heroImagesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    
    &--rectangle {
      display: flex;
      @include center-items;
      width: 255px;
      height: 255px;
      background-color: $white;
      border: 1px solid $aqua;

      @include desktop {
        width: 420.59px;
        height: 420.59px;
      }

      &--imageContainer {
        width: 191px;
        height: 191px;
        background: url("../../../images/heroPic.jpg") center center no-repeat;
        background-size: cover;
        @include desktop {
          width: 315.44px;
          height: 315.44px;
        }
      }
    }

    .rectangle1 {
      position: relative;
      z-index: 4;
      transition: all 0.5s ease-in;
      background-color: $white;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 4px 4px 8px $aqua;
      }
    }
    .rectangle2 {
      position: absolute;
      top: -15.5px;
      left: 17.5px;
    }
  }
}
