@import "../../core/variables";
@import "../../core/mixins";
@import "../../core/animations";

.photoElement {
  position: relative;
  display: flex;
  top: 0;
  @include center-items;
  flex-direction: column;
  -webkit-animation: slide-in 3s 1.25s both;
  animation: slide-in 3s 1.25s both;
  transition: all 0.6s ease;
  &:hover {
    top: -15px;
    box-shadow: 3px 4px 5px rgb(100, 65, 8);
  }
  @include desktop {
    -webkit-animation: fade-in 3s 1.25s both;
    animation: fade-in 3s 1.25s both;
    &:hover {
      top: 0;
      box-shadow: 0;
    }
  }

  &__photoContainer {
    position: relative;
    width: 360px;
    height: 275px;
    border: 1px solid $lightGray2;
    @include smallDevices {
      width: 250px;
      height: 225px;
    }

    @include mobile {
      width: 366px;
      height: 281.98px;
      transition: all 0.5s ease;
    }

    @include desktop {
      width: 384px;
      height: 336px;
      overflow: hidden;
      transition: all 0.5s ease;
      &:hover {
        filter: brightness(30%);
      }
    }

    &--indexContainer {
      position: absolute;
      top: 15.72px;
      right: 15.13px;
      display: flex;
      @include center-items;
      width: 69.04px;
      height: 44.21px;
      color: $fontColor;
      background-color: $indexBackground;
      border-radius: 100px;

      &--indexNumber {
        font: normal 400 24px/28.13px $mainFont;
      }
    }
    &--photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @include desktop {
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.25, 1.25);
        }
      }
    }
  }

  &__authorName {
    width: 100%;
    font: normal 400 24px/28.13px $mainFont;
    text-align: center;
    background-color: $black;
    color: $fontColor;
    padding: 12px 0;
    @include desktop {
      display: none;
    }
  }
  &__hoverAuthorContainer {
    @include desktop {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
    }
    &--author {
      font: normal 400 20px/28px $mainFont;
      position: relative;
      z-index: 2;
      color: $fontColor;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}
